

button {
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    background: none;
    background-color: #276e8e;
    border-radius: 30%;
    color: white
}

.breathe {
    margin: 0;
    text-align: center;
}
.continueButton {
    position: fixed;
    bottom: 55px; /* Adjust the value to move it higher */
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #87CEEB; /* Light blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }