.start{
    display: 'block';
    margin: '20px auto'; 
    padding: '15px 30px';
    font-size: '18px';
    background-color: '#4CAF50'; 
    color: 'white';
    border-radius: '50px';
    cursor: 'pointer';
    padding: 100px 150px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    backgroundColor: "#90EE90";
}