.continueButton {
    position: fixed;
    bottom: 55px; /* Adjust the value to move it higher */
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #87CEEB; /* Light blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }