.header {
    text-align: center;
    background-color: green;
    color: white;
}

.h1 {
    margin: 0;
}
.link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
  }